<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script type="text/javascript" src='deal.js'></script>-->
    <script type="text/javascript" src={{url_for('static', filename='deal3.js')}}></script>

    <style type="text/css">
        .leftdiv {float:left;height:20;width:40%;}
        .middiv {float:left;height:20;width:20%;}
        .rightdiv {float:left;height:20;width:40%;}
    </style>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
</html>